@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

body {
    background-color: hsl(216, 12%, 8%);
    font-family: 'Overpass', sans-serif;
}

.star-img {
    border-color: hsl(216, 12%, 54%);
}

.thank-you-img {
    display: block;
    margin: auto;
    margin-bottom: 2em;
}

.grid {
    display: grid;
    justify-content: center;
    align-items: center;
}

.rating-card {
    display: block;
    background-color: hsl(213, 19%, 18%);
    width: 350px;
    height: 350px;
    margin: 5em;
    padding: 2em;
    border-radius: 30px 30px 30px 30px;
}

.thank-you-card {
    display: none;
    background-color: hsl(213, 19%, 18%);
    width: 350px;
    height: 350px;
    margin: 5em;
    padding: 2em;
    border-radius: 30px 30px 30px 30px;
}

.heading-text {
    color: white;
    font-family: 'Overpass', sans-serif;
}

.thanks-text {
    margin-top: 1em;
    color: white;
    text-align: center;
    font-family: 'Overpass', sans-serif;
}

.body-text {
    color: hsl(217, 12%, 63%);
    font-family: 'Overpass', sans-serif;
    line-height: 1.5em;
}

.thanks-body-text {
    color: hsl(217, 12%, 63%);
    line-height: 1.7em;
    text-align: center;
}

#rating-text {
    text-align: center;
    background-color: hsl(216, 16%, 25%);
    color: hsl(25, 97%, 53%);
    margin: 1em;
    padding: 6px 10px;
    border-radius: 30px;
}

/* Buttons */

.button-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.numbers-buttons {
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: hsl(213, 20%, 22%);
    color: #fff;
    border-radius: 50%;
}

.numbers-buttons:hover {
    color: #ffffff;
	background-color:hsl(25, 97%, 53%);
}

.numbers-buttons:focus {
	position:relative;
    background-color: hsl(217, 12%, 63%);
	top:1px;
}

.submit-button {
	background-color:hsl(25, 97%, 53%);
	border-radius:30px;
    text-align: center;
    margin-top: 2em;
	display: block;
	cursor:pointer;
	color:#ffffff;
    letter-spacing: 1.5px;
	font-size:17px;
	padding:16px 53px;
	text-decoration:none;
}

.submit-button:hover {
    color: hsl(25, 97%, 53%);
	background-color:white;
}

.submit-button:active {
	position:relative;
	top:1px;
}
